@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  button{
    @apply border border-black rounded-xl px-5 py-1
  }
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: url("./assets/bg2.jpg");
  background-color: #97979724;
  background-blend-mode: darken;
}

::-webkit-scrollbar {
  display: none;
}